.card__btn__click:hover {
    background-color: #1D2B5B;
}

.card__btn__click-2:hover {
    background-color: #1D2B5B;
}

.footer__btn__text:hover {
    background-color: #1D2B5B;
}

.card__btn__clic:hover {
    background-color: #1D2B5B;
}

.kartunka button:hover {
    background-color: #1D2B5B;
}

.kartunka1 button:hover {
    background-color: #1D2B5B;
}

.buttu button:hover {
    background-color: #1D2B5B;
}